.pokemonNamePane {
  width: 14vw;
  height: 10vh;
  padding: 0;
  margin: 0;
  background-color: var(--ACCENT-COLOR3);
  box-shadow: var(--MIN-SHADOW);
}

.pokemonNamePane .title {
  font-weight: bold;
  font-size: 1.5vmin;
  color: var(--BLACK);
}
