.typePane {
  min-width: 7.5vh;
  height: 2.5vh;
  align-items: center;
  justify-content: center;
  padding: 0.5vh 1vh;
  border-radius: 1vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.typePane .name {
  font-size: 1.25vh;
  color: var(--WHITE);
}
