@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

:root {
  --ACCENT-COLOR: #c54116;
  --ACCENT-COLOR2: #fc6b3c;
  --ACCENT-COLOR3: #ffe960;

  --WHITE: #fff;
  --BLACK: #000;

  --MIN-SHADOW: 0.25vh 0.25vh 0.5vh rgba(0, 0, 0, 0.25);
  --SHADOW: 0.25vh 0.25vh 2vh 1vh rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--ACCENT-COLOR);
}

::-webkit-scrollbar {
  width: 0.75vh;
  height: 0.5vh;
}
::-webkit-scrollbar-thumb {
  background-color: var(--ACCENT-COLOR3);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background-color: var(--ACCENT-COLOR);
}
