.abilityPane {
  min-width: 7.5vh;
  height: 2.5vh;
  align-items: center;
  justify-content: center;
  padding: 0.5vh 1vh;
  border-radius: 1vh;
  background-color: silver;
  box-shadow: var(--MIN-SHADOW);
}

.abilityPane .name {
  font-weight: bold;
  font-size: 1.25vh;
  letter-spacing: 0.15vh;
  color: var(--ACCENT-COLOR);
}
